<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="loader-container" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <div *ngIf="!isLoading && isLoggedIn" class="top-container">

    <div class="layer">
    </div>
    <img class="img-avt" [src]="user?.photoURL"
         alt="">

    <span>{{user?.displayName}}</span>
    <!-- <span>200 pontos</span>-->

  </div>


    <div *ngIf="!isLoading && !isLoggedIn" class="not-logged">
      <p>Para acessar seu perfil, você precisa fazer o login!</p>
      <button (click)="onLoginWithFacebook()" class="facebook-btn" color="primary" ion-button icon-left>
        <ion-icon name="logo-facebook"></ion-icon>
        Login com o Facebook
      </button>
    </div>


  <h4>Suporte</h4>
  <ion-list no-lines>

    <button ion-item detail-none (click)="talkToUs()">
      Fale Conosco
    </button>


    <button ion-item detail-none (click)="reportProblem()">
      Relatar um problema
    </button>

    <button ion-item detail-none (click)="rateApp()">
      Avalie
    </button>
  </ion-list>

  <div *ngIf="isLoggedIn">
  <h4>Sobre</h4>


  <ion-list no-lines>

    <!--<button ion-item detail-none>-->
    <!--Termos de Uso-->
    <!--</button>-->

    <!--<button ion-item detail-none>-->
    <!--Política de Privacidade-->
    <!--</button>-->

    <button ion-item detail-none (click)="onLogOut()">
      Sair
    </button>

  </ion-list>

  </div>


  <!-- <div class="favourite-container">



       <h4>Favoritos</h4>

       <ion-list>

           <button ion-item>
       Cervejas
     </button>
           <button ion-item>
       Bares
     </button>
       </ion-list>

   </div>

   <div class="activity-container">

       <h4>Atividades</h4>

       <ion-list>

           <button ion-item detail-none>

      <ion-avatar item-left>
     <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p100x100/13344740_10209043124422700_4634695097340673255_n.jpg?oh=b7c91672b28c812bce1057ca1d4a8d04&oe=593E44D7">
   </ion-avatar>
   <div class="activity-content">

     <div class="div-content">

     <h5>HEINEKEN</h5>
     <span>Add em minhas cervejas +10</span>
       </div>
     <div class="div-content">
       <ion-icon name="star"></ion-icon>
         <div>10/10/2017</div>
          </div>
     </div>
     </button>

       </ion-list>

   </div>
-->

</ion-content>
