<!--
  Generated template for the Suggest page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>CADASTRAR UM BAR</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
  <!--*ngIf="isLoggedIn"-->
    <form >

        <ion-grid>
            <ion-row style="margin-top: -10px">
                <ion-col col-12>
                    <ion-item>
                        <ion-label color="primary" floating>Nome do bar</ion-label>
                        <ion-input [(ngModel)]="bar.name" name="name" required type="text"></ion-input>
                    </ion-item>
                </ion-col>

            </ion-row>

            <ion-row>

                <ion-col col-6>

                    <ion-item>
                        <ion-label color="primary" floating>Bairro</ion-label>
                        <ion-input [(ngModel)]="bar.address.neighborhood" name="neighborhood" required type="text"></ion-input>
                    </ion-item>
                </ion-col>

                <ion-col col-6>

                    <ion-item>
                        <ion-label color="primary" floating>Cidade</ion-label>
                        <ion-input [(ngModel)]="bar.address.city" name="city" required type="text"></ion-input>
                    </ion-item>
                </ion-col>

            </ion-row>

            <div *ngIf="isBarFound">



                <ion-row>
                    <ion-col col-12>
                        <ion-item>
                            <ion-label color="primary" floating>Endereço</ion-label>
                            <ion-input required  [(ngModel)]="addr" name="addr" type="text"></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>



            </div>


        </ion-grid>

        <div *ngIf="isLoading" class="searching">
            <div>
                <ion-spinner color="primary"></ion-spinner>
            </div>
            Localizando bar...


        </div>

        <div *ngIf="errorMsg.length > 0" class="searching">
            {{ errorMsg }}
        </div>

        <div class="btn-search-container">

            <div class="btn-in-search-container">


                <button (click)="onClean()" *ngIf="isBarFound" outline class="btn-search" ion-button color="primary">

              Limpar
            </button>

                <button (click)="onSearch()" class="btn-search" ion-button color="primary">

                {{ isBarFound?  'Continuar': 'Procurar'   }}
            </button>
            </div>
        </div>


    </form>


    <!--<div *ngIf="!isLoggedIn" class="not-logged">-->
      <!--<p>Precisamos que você faça o login para poder cadastrar um bar!</p>-->
      <!--<button (click)="onLoginWithFacebook()" class="facebook-btn" color="primary" ion-button icon-left>-->
        <!--<ion-icon name="logo-facebook"></ion-icon>-->
        <!--Login com o Facebook-->
      <!--</button>-->
    <!--</div>-->

</ion-content>
